go 1.26.3

use (
	.
	./aws
	./database/memcached
	./database/mongodb
	./database/redis
	./database/sql
	./messaging
)

replace (
	github.com/skolldire/go-engine v0.17.0 => .
	github.com/skolldire/go-engine/aws v0.17.0 => ./aws
	github.com/skolldire/go-engine/database/memcached v0.17.0 => ./database/memcached
	github.com/skolldire/go-engine/database/mongodb v0.17.0 => ./database/mongodb
	github.com/skolldire/go-engine/database/redis v0.17.0 => ./database/redis
	github.com/skolldire/go-engine/database/sql v0.17.0 => ./database/sql
	github.com/skolldire/go-engine/messaging v0.17.0 => ./messaging
)
